<?xml version="1.0" encoding="UTF-8"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="flying_camera">

    <xacro:arg name="id" default="-1" />
	<!-- Joints controller -->
	<xacro:include filename="$(find opt_view)/gazebo/ros_control.urdf" />

	<!-- Camera joint -->
	<xacro:include filename="$(find opt_view)/urdf/camera_joint.urdf.xacro" />

	<!-- UAV base -->
	<xacro:include filename="$(find rotors_description)/urdf/$(arg mav_name)_base.xacro" />

	<xacro:camera_joint parent="${namespace}/base_link"
		prefix="" namespace="">
		<origin xyz="0 0.0 0" rpy="${pi} 0 0" />
	</xacro:camera_joint>



  <!-- Mount a generic odometry sensor without odometry map (working everywhere). -->
  <xacro:odometry_plugin_macro
    namespace="${namespace}"
    odometry_sensor_suffix="4"
    parent_link="${namespace}/base_link"
    pose_topic="uav_odometry/pose"
    pose_with_covariance_topic="uav_odometry/pose_with_covariance"
    position_topic="uav_odometry/position"
    transform_topic="uav_odometry/transform"
    odometry_topic="uav_odometry/odometry"
    parent_frame_id="world"
    child_frame_id="$(arg id)"
    mass_odometry_sensor="0.00001"
    measurement_divisor="1"
    measurement_delay="0"
    unknown_delay="0.0"
    noise_normal_position="0 0 0"
    noise_normal_quaternion="0 0 0"
    noise_normal_linear_velocity="0 0 0"
    noise_normal_angular_velocity="0 0 0"
    noise_uniform_position="0 0 0"
    noise_uniform_quaternion="0 0 0"
    noise_uniform_linear_velocity="0 0 0"
    noise_uniform_angular_velocity="0 0 0"
    enable_odometry_map="false"
    odometry_map=""
    image_scale="">
    <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" /> <!-- [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] -->
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </xacro:odometry_plugin_macro>
  <xacro:odometry_plugin_macro
    namespace="${namespace}"
    odometry_sensor_suffix="5"
    parent_link="camera_plugin_link"
    pose_topic="camera_odometry/pose"
    pose_with_covariance_topic="camera_odometry/pose_with_covariance"
    position_topic="camera_odometry/position"
    transform_topic="camera_odometry/transform"
    odometry_topic="camera_odometry/odometry"
    parent_frame_id="world"
    child_frame_id="$(arg id)"
    mass_odometry_sensor="0.00001"
    measurement_divisor="1"
    measurement_delay="0"
    unknown_delay="0.0"
    noise_normal_position="0 0 0"
    noise_normal_quaternion="0 0 0"
    noise_normal_linear_velocity="0 0 0"
    noise_normal_angular_velocity="0 0 0"
    noise_uniform_position="0 0 0"
    noise_uniform_quaternion="0 0 0"
    noise_uniform_linear_velocity="0 0 0"
    noise_uniform_angular_velocity="0 0 0"
    enable_odometry_map="false"
    odometry_map=""
    image_scale="">
    <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" /> <!-- [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] -->
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </xacro:odometry_plugin_macro>

  <gazebo>
    <plugin name="visibility_grid_plugin" filename="libvisibility_grid.so">
      <camera_odom_topic>/uavs/agent_$(arg id)/camera_odometry/odometry</camera_odom_topic>
      <projected_view_topic>/uavs/agent_$(arg id)/predicted_view/update</projected_view_topic>
      <id>$(arg id)</id>
    </plugin>
  </gazebo>
</robot>